---
layout: page
title: "About"
description: "Welcome to Lyle's little world."
header-img: "img/bg-aboutMe.jpeg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 </option>
    <option value="1"> English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>人生重要的不是所站的位置<br>
    而是所朝的方向</p></blockquote>

    <p>Hi，我是<strong>Aoyu</strong>，一名来自东京工业大学CS专业的硕士研究生。现作为RioYokota Lab的一员，从事于计算机视觉 / Distance Metric Learning / 机器学习等相关领域的研究。<a href="https://lyle-lee.github.io/cv/">简历</a></p>

    <p>工作、学习之余，我是一个游戏爱好者，同时也非常喜欢电影与健身。</p>
    
    <h5>News</h5>

    <ul>
        <li>[2021-3-19]以<strong>深度度量学习中的General Pair Weighting</strong>为主题在Denso研究会上进行了发表</li>
        <li>[2020-9-16]以<strong>Non-Uniform SGD</strong>为主题在Denso研究会上进行了发表</li>
    </ul>

    <h5>Experience</h5>

    <h6>2020.Jul-now Denso IT Lab（研究助理）</h6>
    <ul>
        <li>研究基于语义距离的深度学习相关的模型与算法，涵盖图像检索、人脸识别、Few-shot Learning及Transfer Learning。</li>
    </ul>

    <h6>2021.Apr-now 实验室小组课题（研究开发）</h6>
    <ul>
        <li>在组内负责优化算法的研究与落地。为了减小Vision Transformer(ViT)等大规模深度学习模型的训练开销，利用基于K-FAC的NGD近似算法加速模型收敛。</li>
    </ul>

    <h6>2021.Mar-2021.Jun QWeather小组项目（iOS客户端）</h6>
    <ul>
        <li>项目开源：<a href="https://github.com/Lyle-Lee/RealTimeWeather">Real Time Weather</a></li>
        <Li>基于MVC模式的iOS天气App。期间主要负责客户端，通过代理与协议的方式获取用户位置信息，实现通过GET请求从WebAPI获取天气信息，并支持用户输入查询全球主要城市信息。</Li>
    </ul>

    <h6>2020.Dec-2021.Mar AIST OIL（研究助理）</h6>
    <ul>
        <li>复现非均一SGD的相关论文实验结果，加速大规模神经网络的训练。</li>
    </ul>

    <h6>2020.Jul-2020.Sep 实验室小组课题（论文复现与实验）</h6>
    <ul>
        <li>为行为预测相关研究提供实验数据，使用Unity对鱼群巡游进行精确模拟。</li>
        <li>Unity项目开源：<a href="https://github.com/Lyle-Lee/FlockingSimulation">Flocking</a></li>
    </ul>

    <h5>Publications</h5>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Researcher. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi there, I am <strong>Aoyu Li</strong>，you can call me <strong>Lyle</strong>. I am a masters student (2020-) in RioYokota Lab, Tokyo Institute of Technology. My research interests lie in Computer Vision, Computer Graphics, Metric Learning, and Machine Learning. Recently I am working on Deep Metric Learning and optimizations for ViT.</p>

    <p><a href="https://lyle-lee.github.io/cv/">Curriculum Vitae</a></p>
    
    <p>I am a Video Game enthusiast, I like fitness, basketball and movie.</p>

    <h5>News</h5>

    <ul>
        <li>[2021-3-19] Presented at Denso Research Conference on the topic of <strong>General Pair Weighting for Deep Metric Learning</strong></li>
        <li>[2020-9-16] Presented at Denso Research Conference on the topic of <strong>Non-Uniform SGD</strong>.</li>
    </ul>

    <h5>Publications</h5>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

